/* BRAND 5% LABEL */


.customer-group-0 .brand-item[data-name="Edwin Jagger"]:before,
.customer-group-1 .brand-item[data-name="Edwin Jagger"]:before{
    content: "-25-40%";
    position: absolute;
    padding: 10px;
    background: black;
    color: #fff;
    font-family: 'MontserratBold';
}
