.page-wrapper:before {
    content: "Speciale Black Friday: dal 25 al 28 Novembre extra sconto del 20% su tutti i prodotti, solo online!";
    display: block;
    width: 100%;
    background: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* opacity: 0; */
    /* height: 1px; */
}

#amasty-shopby-product-list .item.product .product.photo:after {
    content: "Black Friday: Dal 25 al 28 novembre extra sconto!";
    display: block;
    width: 100%;
    background: black;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    position: relative;
    padding: 10px;
    /* opacity: 0; */
    /* height: 1px; */
}

.catalog-product-view .product-add-form:after {
    content: "Speciale Black Friday: dal 25 al 28 Novembre extra sconto del 20% applicato automaticamente a carrello";
    display: block;
    width: 100%;
    background: black;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    /* opacity: 0; */
    /* height: 1px; */
}
