.page-wrapper:before {
    content: "Speciale Black Friday: Dal 25 al 28 novembre extra sconti fino al 20% su numerosi prodotti!";
    display: block;
    width: 100%;
    background: black;
    opacity: 0;
    color: #fff;
    text-align: center;
    /* padding: 10px; */
    height: 1px;
}

#amasty-shopby-product-list .item.product .product.photo:after {
    content: "Black Friday: Dal 25 al 28 novembre extra sconto!";
    display: block;
    width: 100%;
    background: black;
    color: #fff;
    text-align: center;
    /* padding: 10px; */
    font-weight: normal;
    opacity: 0;
    height: 1px;
    font-size: 11px;
    line-height: 14px;
    position: relative;
}

.catalog-product-view .product-add-form:after {
    content: "Speciale Black Friday: Dal 25 al 28 novembre extra sconto su numerosi prodotti!";
    display: block;
    width: 100%;
    background: black;
    color: #fff;
    text-align: center;
    /* padding: 10px; */
    font-weight: normal;
    height: 1px;
    opacity: 0;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    /* margin-bottom: 20px; */
}
