.header-newskin > .nav-sections:before {
    content: "Black Friday Special: Only on November 25, an extra 10% discount on the entire catalogue! The discount will be calculated automatically at the cart.";
    display: block;
    width: 100%;
    background: black;
    text-align: center;
    color: #fff;
    padding: 10px;
    /* opacity: 0.01; */
}

#layer-product-list .item.product .photo:after {
    content: "Black Friday: only on November 25th, an extra 10% discount on the entire catalogue!";
    display: block;
    width: 100%;
    background: black;
    text-align: center;
    color: #fff;
    padding: 10px;
    /* opacity: 0.01; */
    /* display: none; */
}

.catalog-product-view .price-box.price-final_price:before {
    content: "Black Friday: only on November 25th, an extra 10% discount on the entire catalogue!";
    display: block;
    width: 100%;
    background: black;
    text-align: center;
    color: #fff;
    padding: 10px;
    /* opacity: 0.01; */
    /* display: none; */
}
