.header-newskin > .nav-sections:before {
    content: "Speciale Black Friday: Solo il 25 novembre extra sconto del 10% su tutto il catalogo! Lo sconto sarà calcolato automaticamente al carrello.";
    opacity: 0.01;
    display: block;
    width: 100%;
    background: black;
    text-align: center;
    color: #fff;
    /* padding: 10px; */
}

#layer-product-list .item.product .photo:after {
    content: "Speciale Black Friday extra sconto del 10% su tutto il catalogo!";
    opacity: 0.01;
    display: block;
    width: 100%;
    background: black;
    text-align: center;
    color: #fff;
    /* padding: 10px; */

}

.catalog-product-view .price-box.price-final_price:before {
    content: "Speciale Black Friday extra sconto del 10% su tutto il catalogo!";
    opacity: 0.01;
    display: block;
    width: 100%;
    background: black;
    text-align: center;
    color: #fff;
    /* padding: 10px; */
}
