.wrapper:before {
    content: "Speciale Black Friday: sconti fino al 50% su tutto il catalogo";
    display: block;
    width: 100%;
    background: black;
    opacity: 0;
    color: #fff;
    text-align: center;
    font-size: 14px;
    /* padding: 10px; */
    height: 1px;
}

ul.products-grid .item .product-image-area:after {
    content: "Black Friday: Sconti dal 24 al 27 novembre";
    display: block;
    width: 100%;
    background: black;
    color: #fff;
    text-align: center;
    /* padding: 10px; */
    font-weight: normal;
    opacity: 0;
    height: 1px;
    font-size: 10px;
    line-height: 14px;
    position: relative;
}
