.page-wrapper:before {
    content: "Speciale Black Friday: dal 22 al 28 novembre extra dal 30% al 50%";
    display: block;
    width: 100%;
    background: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* opacity: 0; */
    /* height: 1px; */
}

#amasty-shopby-product-list .item.product .product.photo:after {
    content: "Black Friday: Dal 22 al 28 novembre extra sconto!";
    display: block;
    width: 100%;
    background: black;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    position: relative;
    padding: 10px;
    /* opacity: 0; */
    /* height: 1px; */
}

.catalog-product-view .product-info-price:after {
    content: "Speciale Black Friday: dal 22 al 28 novembre extra sconti dal 30% al 50%";
    display: block;
    width: 100%;
    background: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: normal;
    /* height: 1px; */
    /* opacity: 0; */
    font-size: 14px;
    line-height: 16px;
    position: relative;
    margin-bottom: 20px;
}
